src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="7b17e318-3d75-44f0-b6cb-d6276176fe8a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="679f0615-5e2c-40ed-bb77-e8012bd73f86" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training"/>
	</db:config>
	<flow name="getFlights" doc:id="7ea39bb5-679f-499d-9b27-24dc9e81b0fb" >
		<db:select doc:name="Select" doc:id="4fb43d44-b1d6-4896-9fd4-6891ecd3306a" config-ref="Database_Config">
			<db:sql >SELECT * FROM american</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="d55b470c-93d0-4a75-9789-dfbd3b1cf5b5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postFlight" doc:id="a079adbc-de5c-4e9f-a1d0-3285d3259e04" >
		<set-payload value='{"message": "Flight added (but not really)"}' doc:name="Set Payload" doc:id="4caef472-38d8-45c5-b933-70342193a215" />
	</flow>
	<flow name="getFlightsByID" doc:id="20e12252-7f15-443e-9d21-4aa79b7966d6" >
		<db:select doc:name="Copy_of_Select" doc:id="63d48918-6e66-4e7c-adff-6443d66af7d1" config-ref="Database_Config" >
			<db:sql >SELECT * FROM american WHERE ID = :ID</db:sql>
			<db:input-parameters ><![CDATA[#[{ 'ID' : attributes.uriParams.ID  }]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="28c579cb-7168-4708-bc09-9f3974b20aea" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1
default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
